<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<p>{L_TITLE_EXPLAIN}</p>

	<fieldset>
		<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		<!-- IF SET_PERMISSIONS -->
			<dl>
				<dt><label for="guest_permissions0">{L_GUEST_PERMISSIONS}:</label></dt>
				<dd>
					<label for="guest_permissions0"><input type="radio" name="guest_permissions" id="guest_permissions0" value="0"<!-- IF S_GUEST_PERMISSIONS == 0 --> checked="checked"<!-- ENDIF --> /> {L_NO_PERMISSIONS}</label><br/>
					<label for="guest_permissions1"><input type="radio" name="guest_permissions" id="guest_permissions1" value="1"<!-- IF S_GUEST_PERMISSIONS == 1 --> checked="checked"<!-- ENDIF --> /> {L_VIEW_PERMISSIONS}</label><br/>
					<label for="guest_permissions2"><input type="radio" name="guest_permissions" id="guest_permissions2" value="2"<!-- IF S_GUEST_PERMISSIONS == 2 --> checked="checked"<!-- ENDIF --> /> {L_REPLY_PERMISSIONS}</label><br/>
				</dd>
			</dl>
			<dl>
				<dt><label for="registered_permissions0">{L_REGISTERED_PERMISSIONS}:</label></dt>
				<dd>
					<label for="registered_permissions0"><input type="radio" name="registered_permissions" id="registered_permissions0" value="0"<!-- IF S_REGISTERED_PERMISSIONS == 0 --> checked="checked"<!-- ENDIF --> /> {L_NO_PERMISSIONS}</label><br/>
					<label for="registered_permissions1"><input type="radio" name="registered_permissions" id="registered_permissions1" value="1"<!-- IF S_REGISTERED_PERMISSIONS == 1 --> checked="checked"<!-- ENDIF --> /> {L_VIEW_PERMISSIONS}</label><br/>
					<label for="registered_permissions2"><input type="radio" name="registered_permissions" id="registered_permissions2" value="2"<!-- IF S_REGISTERED_PERMISSIONS == 2 --> checked="checked"<!-- ENDIF --> /> {L_REPLY_PERMISSIONS}</label><br/>
				</dd>
			</dl>
			<!-- IF SET_FOE_FRIEND -->
				<dl>
					<dt><label for="foe_permissions0">{L_FOE_PERMISSIONS}:</label></dt>
					<dd>
						<label for="foe_permissions0"><input type="radio" name="foe_permissions" id="foe_permissions0" value="0"<!-- IF S_FOE_PERMISSIONS == 0 --> checked="checked"<!-- ENDIF --> /> {L_NO_PERMISSIONS}</label><br/>
						<label for="foe_permissions1"><input type="radio" name="foe_permissions" id="foe_permissions1" value="1"<!-- IF S_FOE_PERMISSIONS == 1 --> checked="checked"<!-- ENDIF --> /> {L_VIEW_PERMISSIONS}</label><br/>
						<label for="foe_permissions2"><input type="radio" name="foe_permissions" id="foe_permissions2" value="2"<!-- IF S_FOE_PERMISSIONS == 2 --> checked="checked"<!-- ENDIF --> /> {L_REPLY_PERMISSIONS}</label><br/>
					</dd>
				</dl>
				<dl>
					<dt><label for="friend_permissions0">{L_FRIEND_PERMISSIONS}:</label></dt>
					<dd>
						<label for="friend_permissions0"><input type="radio" name="friend_permissions" id="friend_permissions0" value="0"<!-- IF S_FRIEND_PERMISSIONS == 0 --> checked="checked"<!-- ENDIF --> /> {L_NO_PERMISSIONS}</label><br/>
						<label for="friend_permissions1"><input type="radio" name="friend_permissions" id="friend_permissions1" value="1"<!-- IF S_FRIEND_PERMISSIONS == 1 --> checked="checked"<!-- ENDIF --> /> {L_VIEW_PERMISSIONS}</label><br/>
						<label for="friend_permissions2"><input type="radio" name="friend_permissions" id="friend_permissions2" value="2"<!-- IF S_FRIEND_PERMISSIONS == 2 --> checked="checked"<!-- ENDIF --> /> {L_REPLY_PERMISSIONS}</label><br/>
					</dd>
				</dl>
			<!-- ENDIF -->
		<!-- ENDIF -->
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
</fieldset>
{S_FORM_TOKEN}
</form>

<!-- INCLUDE ucp_footer.html -->