<!-- IF not S_PRINT_MODE -->

	<!-- INCLUDE overall_header.html -->

	<style type="text/css">
	<!--
		.archives_title {
			font-weight: bold;
			text-align: center;
		}

		.archive_sdmenu .archive_title, .archive_sdmenu .archive_titlehidden {
			display: block;
			padding: 5px 0;
		}

		.archive_sdmenu .archive_arrow {
			margin-left: 1px;
			margin-right: 3px;
		}

		.archive_sdmenu .archive_submenu {
			overflow: hidden;
		}

		.blog-icon, .blog-icon a {
			background: transparent none 0 0 no-repeat;
			background-image: url("{ADD_BLOG_IMG}");
		}

		.buttons div.blog-icon {
			width: 96px;
			height: 25px;
		}

		.deleted {
			background-color: #33FF00;
		}

		.foe {
			background-color: #FF6600;
		}
	-->
	</style>

	<!-- INCLUDE blog.js -->

	<!-- IF U_BLOG_MCP -->
		<!-- IF U_BLOG_MCP -->
			<p>[&nbsp;<a href="{U_BLOG_MCP}">{L_BLOG_MCP}</a>&nbsp;]</p>
		<!-- ENDIF -->
	<!-- ELSE -->
    	<br />
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_POSTS -->
	<div style="margin-bottom: 3px; font-size: 1.1em; height: 13px; min-height: 13px;">
		<div class="pagination">
			{TOTAL_POSTS} <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->

	<table style="width: 100%">
		<tr>
			<td style="width:240px; padding: 2px 2px; vertical-align: top;">
				<div class="post bg1<!-- IF S_ONLINE --> online<!-- ENDIF -->">
					<div class="inner">
						<span class="corners-top"><span></span></span>
						<dl>
							<dt>
								<strong>{USER_FULL}</strong><br/>
								<!-- IF RANK_TITLE or RANK_IMG-->
									<dd>
										<!-- IF RANK_TITLE -->{RANK_TITLE}<br/><!-- ENDIF -->
										<!-- IF RANK_IMG -->{RANK_IMG}<br/><!-- ENDIF -->
									</dd>
									<!-- ENDIF -->
								<!-- IF AVATAR -->{AVATAR}<!-- ENDIF -->
							</dt>
							
							<dd>&nbsp;</dd>
							
							<!-- IF POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {POSTER_POSTS}</dd><!-- ENDIF -->
							<!-- IF POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {POSTER_JOINED}</dd><!-- ENDIF -->
							<!-- IF POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {POSTER_FROM}</dd><!-- ENDIF -->
			
							<!-- BEGIN custom_fields -->
								<dd><strong>{custom_fields.PROFILE_FIELD_NAME}:</strong> {custom_fields.PROFILE_FIELD_VALUE}</dd>
							<!-- END custom_fields -->
			
				
							<!-- IF U_PM or U_EMAIL or U_WWW or U_MSN or U_ICQ or U_YIM or U_AIM -->
							<dd>
								<ul class="profile-icons">
									<!-- IF U_PM --><li class="pm-icon"><a href="{U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
									<!-- IF U_EMAIL --><li class="email-icon"><a href="{U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
									<!-- IF U_WWW --><li class="web-icon"><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
									<!-- IF U_MSN --><li class="msnm-icon"><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
									<!-- IF U_ICQ --><li class="icq-icon"><a href="{U_ICQ}" onclick="popup(this.href, 780, 550); return false;" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
									<!-- IF U_YIM --><li class="yahoo-icon"><a href="{U_YIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
									<!-- IF U_AIM --><li class="aim-icon"><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
									<!-- IF U_JABBER --><li class="jabber-icon"><a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->

								</ul>
							</dd>
							<!-- ENDIF -->
			
							<!-- IF U_DELETED_LINK -->
							<dd>
								<br/><br/><br/>
								{U_DELETED_LINK}
							</dd>
							<!-- ENDIF -->
						</dl>
		
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
				<br/>
		
				<!-- IF S_ARCHIVES -->
				<div class="post bg1">
					<div class="inner">
						<span class="corners-top"><span></span></span>
						<dl>
							<dt class="archives_title">{L_ARCHIVES}</dt>
							<dd>
								<div class="archive_sdmenu">
									<!-- BEGIN archiverow -->
										<span onclick="toggle_month({archiverow.S_ROW_COUNT});"><strong><img id="month_image_{archiverow.S_ROW_COUNT}" src="<!-- IF archiverow.S_ROW_COUNT > 0 -->{T_THEME_PATH}/images/plus.gif<!-- ELSE -->{T_THEME_PATH}/images/minus.gif<!-- ENDIF -->" alt="-" /> {archiverow.MONTH} {archiverow.YEAR}</strong></span>
										<div id="month_{archiverow.S_ROW_COUNT}" <!-- IF archiverow.S_ROW_COUNT > 0 -->style="display: none;"<!-- ENDIF -->>
											<!-- BEGIN monthrow -->
												<dl class="panel">
													<dt><a href="{archiverow.monthrow.U_VIEW}">{archiverow.monthrow.TITLE}</a></dt>
													<dd>&nbsp; &nbsp;{archiverow.monthrow.DATE}</dd>
												</dl>
											<!-- END monthrow -->
										</div>
										<br/>
									<!-- END archiverow -->
								</div>
							</dd>
						</dl>
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
				<!-- ENDIF -->
			</td>
			<td style="vertical-align: top; padding: 2px 2px;">
				<!-- IF MODE == 'deleted' or S_DELETED-->
					<!-- IF MODE == 'deleted' -->
					<div class="rules" style="margin: 0 0;">
						<div class="inner">
							<span class="corners-top"><span></span></span>
							<strong>{L_DELETED_MESSAGE}</strong><br />
							{L_DELETED_MESSAGE_EXPLAIN}
							<span class="corners-bottom"><span></span></span>
						</div>
					</div>
					<!-- ELSE -->
					<div class="rules" style="margin: 0 0;">
						<div class="inner">
							<span class="corners-top"><span></span></span>
							<strong>{L_DELETED_MESSAGE_SINGLE}</strong><br />
							{L_DELETED_MESSAGE_EXPLAIN_SINGLE}
							<span class="corners-bottom"><span></span></span>
						</div>
					</div>
					<!-- ENDIF -->

				<br />
				<!-- ENDIF -->

				<!-- IF MODE != 'deleted' -->
					<!-- IF U_ADD_BLOG or U_REPLY_BLOG -->
					<div class="topic-actions">
						<div class="buttons">
							<!-- IF U_ADD_BLOG --><div class="blog-icon"><a href="{U_ADD_BLOG}"><span>{L_POST_REPLY}</span></a></div><!-- ENDIF -->
							<!-- IF U_REPLY_BLOG --><div class="reply-icon"><a href="{U_REPLY_BLOG}"><span>{L_POST_REPLY}</span></a></div><!-- ENDIF -->
						</div>
					</div>
					<br/>
					<!-- ENDIF -->
				<!-- ENDIF -->

				<!-- IF S_SORT -->
					<form id="viewdownloads" method="post" action="{S_POST_ACTION}">
					<fieldset class="display-options" style="margin-top: 0; ">
						<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
						<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
						<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
						<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
					</fieldset>
					</form>
				<!-- ENDIF -->

				<!-- BEGIN blogrow -->
					<div class="post <!-- IF blogrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF blogrow.S_REPORTED or blogrow.S_UNAPPROVED --> reported<!-- ENDIF --><!-- IF blogrow.S_DELETED --> deleted<!-- ENDIF -->">
						<div class="inner"><span class="corners-top"><span></span></span>

						<div class="postbody" style="width: 100%;">
							<!-- IF not S_BOT -->
								<ul class="profile-icons">
									<!-- IF blogrow.U_EDIT --><li class="edit-icon"><a href="{blogrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_DELETE --><li class="delete-icon"><a href="{blogrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_REPORT and not blogrow.S_REPORTED --><li class="report-icon"><a href="{blogrow.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_WARN --><li class="warn-icon"><a href="{blogrow.U_WARN}" title="{L_WARN_USER}"><span>{L_WARN_USER}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_DIGG and not blogrow.S_REPORTED --><li><a href="{blogrow.U_DIGG}"><img src="http://digg.com/img/badges/16x16-digg-guy.png" width="16" height="16" alt="Digg" /></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_QUOTE --><li class="quote-icon"><a href="{blogrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_REPLY_WITH_QUOTE}</span></a></li><!-- ENDIF -->
								</ul>
							<!-- ENDIF -->

							<h3><a href="{blogrow.U_VIEW}">{blogrow.TITLE}</a></h3>
							<p class="author"><a href="{blogrow.U_VIEW}">{MINI_POST_IMG}</a>{L_POST_BY_AUTHOR} <strong>{blogrow.USER_FULL}</strong> {L_POSTED_ON_DATE} {blogrow.DATE} </p>

							<!-- IF blogrow.S_UNAPPROVED or blogrow.S_REPORTED -->
								<p class="rules">
									<!-- IF blogrow.S_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{blogrow.U_APPROVE}"><strong>{L_BLOG_UNAPPROVED}</strong></a><!-- ENDIF -->
									<!-- IF blogrow.S_REPORTED -->{REPORTED_IMG} <a href="{blogrow.U_REPORT}"><strong>{L_BLOG_REPORTED}</strong></a><!-- ENDIF -->
								</p>
							<!-- ENDIF -->

							<div class="content">{blogrow.BLOG_MESSAGE}</div>

							{blogrow.BLOG_EXTRA}

							<!-- IF blogrow.EDITED_MESSAGE or blogrow.EDIT_REASON -->
								<div class="notice">{blogrow.EDITED_MESSAGE}
									<!-- IF blogrow.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{blogrow.EDIT_REASON}</em><!-- ENDIF -->
								</div>
							<!-- ENDIF -->
							<!-- IF blogrow.DELETED_MESSAGE -->
								<div class="notice">{blogrow.DELETED_MESSAGE}</div>
								<!-- IF SIGNATURE and MODE == 'blog' -->
									<br/>
								<!-- ENDIF -->
							<!-- ENDIF -->

						<!-- IF SIGNATURE and S_SHOW_SIGNATURE --><div class="signature">{SIGNATURE}</div><!-- ENDIF -->

						<div class="notice">
								<div style="float: left;">{blogrow.VIEWS}</div>
								<div style="float: right;">{blogrow.REPLIES}</div>
							</div>
						</div>

						<span class="corners-bottom"><span></span></span></div>
					</div>

					<hr class="divider" />

					<!-- IF blogrow.S_NOT_LAST --><br/><!-- ENDIF -->

				<!-- BEGINELSE -->

					<div class="post bg1">
						<div class="inner"><span class="corners-top"><span></span></span>

							<div class="postbody" style="width: 100%;">
								<div style="text-align: center; font-size: 1.3em; font-weight: bold;"><!-- IF MODE == 'deleted' -->{L_NO_DELETED_BLOGS}<!-- ELSE -->{L_NO_BLOGS_USER}<!-- ENDIF --></div>
							</div>
						<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>

						<span class="corners-bottom"><span></span></span></div>
					</div>

					<hr class="divider" />

				<!-- END blogrow -->

				<!-- IF S_REPLIES -->
					<br/><br/>

					<div class="post bg3" style="text-align: center;">
						<div class="inner"><span class="corners-top"><span></span></span>
							<strong id="replies">{L_REPLIES}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- IF S_SORT_REPLY -->
						<form id="viewdownloads" method="post" action="{S_POST_ACTION}">
						<fieldset class="display-options" style="margin-top: 0; ">
							<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
							<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
							<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
							<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
						</fieldset>
						</form>
					<!-- ENDIF -->
					<!-- BEGIN replyrow -->
						<!-- IF replyrow.S_DELETED or replyrow.USER_FOE-->
							<div id="d{replyrow.ID}" class="post<!-- IF replyrow.USER_FOE --> foe<!-- ENDIF --><!-- IF replyrow.S_DELETED --> deleted<!-- ENDIF -->" style="width: 96%; margin: 0 auto;">
								<div class="inner"><span class="corners-top"><span></span></span>
									<div class="postbody" style="width: 100%;">
										<div style="text-align: center;">
											<!-- IF replyrow.S_DELETED -->
												<a href="#none" onClick="toggleDiv('r{replyrow.ID}'); toggleDiv('d{replyrow.ID}');">{L_DELETED_REPLY_SHOW}</a>
											<!-- ELSE -->
												{replyrow.L_USER_FOE} <a href="#none" onClick="toggleDiv('r{replyrow.ID}'); toggleDiv('d{replyrow.ID}');">{L_CLICK_HERE_SHOW_POST}</a>
											<!-- ENDIF -->
											<noscript><br/>{L_REPLY_SHOW_NO_JS}</noscript>
										</div>
									</div>
								<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
								<span class="corners-bottom"><span></span></span></div>
							</div>
						<!-- ENDIF -->
						<div id="r{replyrow.ID}" class="post <!-- IF replyrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF replyrow.S_REPORTED or replyrow.S_UNAPPROVED --> reported<!-- ENDIF --><!-- IF replyrow.USER_FOE --> foe<!-- ENDIF --><!-- IF replyrow.S_DELETED --> deleted<!-- ENDIF --><!-- IF replyrow.S_ONLINE --> online<!-- ENDIF -->" style="width: 96%; margin: 0 auto;<!-- IF replyrow.S_DELETED or replyrow.USER_FOE --> display: none;<!-- ENDIF -->">
							<div class="inner"><span class="corners-top"><span></span></span>
								<div class="postbody" style="width: 70%;">
									<!-- IF replyrow.U_QUOTE or replyrow.U_INFO or replyrow.U_DELETE or replyrow.U_EDIT -->
										<ul class="profile-icons">
											<!-- IF replyrow.U_EDIT --><li class="edit-icon"><a href="{replyrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
											<!-- IF replyrow.U_DELETE --><li class="delete-icon"><a href="{replyrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
											<!-- IF replyrow.U_REPORT and not replyrow.S_REPORTED --><li class="report-icon"><a href="{replyrow.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF -->
											<!-- IF replyrow.U_WARN --><li class="warn-icon"><a href="{replyrow.U_WARN}" title="{L_WARN_USER}"><span>{WARN_USER}</span></a></li><!-- ENDIF -->
											<!-- IF replyrow.U_QUOTE --><li class="quote-icon"><a href="{replyrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_REPLY_WITH_QUOTE}</span></a></li><!-- ENDIF -->
										</ul>
									<!-- ENDIF -->

									<h3><a href="{replyrow.U_VIEW}">{replyrow.TITLE}</a></h3>
									<p class="author"><a href="{replyrow.U_VIEW}">{MINI_POST_IMG}</a>{L_POST_BY_AUTHOR} <strong>{replyrow.USER_FULL}</strong> {L_POSTED_ON_DATE} {replyrow.DATE} </p>

									<!-- IF replyrow.S_UNAPPROVED or replyrow.S_REPORTED -->
										<p class="rules">
											<!-- IF replyrow.S_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{replyrow.U_APPROVE}"><strong>{L_REPLY_UNAPPROVED}</strong></a><!-- ENDIF -->
											<!-- IF replyrow.S_REPORTED -->{REPORTED_IMG} <a href="{replyrow.U_REPORT}"><strong>{L_REPLY_REPORTED}</strong></a><!-- ENDIF -->
										</p>
									<!-- ENDIF -->

									<div class="content">{replyrow.REPLY_MESSAGE}</div>

									{replyrow.REPLY_EXTRA}


									<!-- IF replyrow.EDITED_MESSAGE or replyrow.EDIT_REASON -->
										<div class="notice">{replyrow.EDITED_MESSAGE}
											<!-- IF replyrow.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{replyrow.EDIT_REASON}</em><!-- ENDIF -->
										</div>
									<!-- ENDIF -->
									<!-- IF replyrow.DELETED_MESSAGE -->
										<div class="notice">{replyrow.DELETED_MESSAGE}</div>
									<!-- ENDIF -->

									<!-- IF replyrow.SIGNATURE --><div class="signature">{replyrow.SIGNATURE}</div><!-- ENDIF -->
								</div>

								<dl class="postprofile" style="width: 28%;">
									<dt>
										<!-- IF replyrow.AVATAR -->
											{replyrow.AVATAR}<br />
										<!-- ENDIF -->
										<strong>{replyrow.USER_FULL}</strong>
									</dt>

									<!-- IF replyrow.RANK_TITLE or replyrow.RANK_IMG --><dd>{replyrow.RANK_TITLE}<!-- IF replyrow.RANK_TITLE and replyrow.RANK_IMG --><br /><!-- ENDIF -->{replyrow.RANK_IMG}</dd><!-- ENDIF -->
		
									<dd>&nbsp;</dd>

									<!-- IF replyrow.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {replyrow.POSTER_POSTS}</dd><!-- ENDIF -->
									<!-- IF replyrow.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {replyrow.POSTER_JOINED}</dd><!-- ENDIF -->
									<!-- IF replyrow.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {replyrow.POSTER_FROM}</dd><!-- ENDIF -->
		
									<!-- BEGIN custom_fields -->
										<dd><strong>{replyrow.custom_fields.PROFILE_FIELD_NAME}:</strong> {replyrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
									<!-- END custom_fields -->

									<!-- IF replyrow.U_PM or replyrow.U_EMAIL or replyrow.U_WWW or replyrow.U_MSN or replyrow.U_ICQ or replyrow.U_YIM or replyrow.U_AIM -->
										<dd>
											<ul class="profile-icons">
												<!-- IF replyrow.U_PM --><li class="pm-icon"><a href="{replyrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
												<!-- IF replyrow.U_EMAIL --><li class="email-icon"><a href="{replyrow.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
												<!-- IF replyrow.U_WWW --><li class="web-icon"><a href="{replyrow.U_WWW}" title="{L_VISIT_WEBSITE}: {replyrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
												<!-- IF replyrow.U_MSN --><li class="msnm-icon"><a href="{replyrow.U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
												<!-- IF replyrow.U_ICQ --><li class="icq-icon"><a href="{replyrow.U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
												<!-- IF replyrow.U_YIM --><li class="yahoo-icon"><a href="{replyrow.U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
												<!-- IF replyrow.U_AIM --><li class="aim-icon"><a href="{replyrow.U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
												<!-- IF replyrow.U_JABBER --><li class="jabber-icon"><a href="{replyrow.U_JABBER}" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
											</ul>
										</dd>
									<!-- ENDIF -->
								</dl>

							<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>

							<span class="corners-bottom"><span></span></span></div>
						</div>

						<hr class="divider" />

						<br/>
					<!-- BEGINELSE -->
						<div class="post bg1">
							<div class="inner"><span class="corners-top"><span></span></span>

								<div class="postbody" style="width: 100%;">
									<div style="text-align: center; font-size: 1.3em; font-weight: bold;">{L_NO_REPLIES}</div>
								</div>
							<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>

							<span class="corners-bottom"><span></span></span></div>
						</div>

						<hr class="divider" />
					<!-- END replyrow -->
				<!-- ENDIF -->

				<!-- IF MODE != 'deleted' -->
					<!-- IF U_ADD_BLOG or U_REPLY_BLOG -->
					<br/>
					<div class="topic-actions">
						<div class="buttons">
							<!-- IF U_ADD_BLOG --><div class="blog-icon"><a href="{U_ADD_BLOG}"><span>{L_POST_REPLY}</span></a></div><!-- ENDIF -->
							<!-- IF U_REPLY_BLOG --><div class="reply-icon"><a href="{U_REPLY_BLOG}"><span>{L_POST_REPLY}</span></a></div><!-- ENDIF -->
						</div>
					</div>
					<!-- ENDIF -->
				<!-- ENDIF -->
			</td>
		</tr>
	</table>

	<!-- IF PAGINATION or TOTAL_POSTS -->
	<div style="margin-bottom: 3px; font-size: 1.1em; height: 13px; min-height: 13px;">
		<div class="pagination">
			{TOTAL_POSTS} <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_ONLINE_LIST -->
		<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
		<p>{LOGGED_IN_USER_LIST}</p>
	<!-- ENDIF -->

	<!-- INCLUDE overall_footer.html -->

<!-- ELSE --> <!-- Print Mode -->

	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
	<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="Content-Language" content="{S_USER_LANG}">
	<title>{SITENAME} :: {PAGE_TITLE}</title>

	<style type="text/css">
	<!--

	body {
		font-family: Verdana,serif;
		font-size: 10pt;
	}

	img {
		border: 0;
	}

	td {
		font-family: Verdana,serif;
		font-size: 10pt;
		line-height: 150%;
	}

	.code,
	.quote {
		font-size: smaller;
		border: black solid 1px;
	}

	.forum {
		font-family: Arial,Helvetica,sans-serif;
		font-weight: bold;
		font-size: 18pt;
	}

	.topic {
		font-family: Arial,Helvetica,sans-serif;
		font-size: 14pt;
		font-weight: bold;
	}

	.gensmall {
		font-size: 8pt;
	}

	hr {
		color: #888;
		height: 3px;
		border-style: solid;
	}

	hr.sep {
		color: #aaa;
		height: 1px;
		border-style: dashed;
	}
	//-->
	</style>

	</head>
	<body>

	<table width="85%" cellspacing="3" cellpadding="0" border="0" align="center">
	<tr>
		<td colspan="2" align="center"><span class="Forum">{SITENAME}</span><br /><span class="gensmall"><a href="{U_FORUM}">{U_FORUM}</a></span></td>
	</tr>
	<tr>
		<td colspan="2"><br /></td>
	</tr>
	<tr>
		<td><span class="topic">{TITLE}</span><br /><span class="gensmall"><a href="{U_BLOG}">{U_BLOG}</a></span></td>
	</tr>
	</table>

	<hr width="85%" />

	<!-- BEGIN blogrow -->
		<table width="85%" cellspacing="3" cellpadding="0" border="0" align="center">
			<tr>
				<td width="10%" nowrap="nowrap">{L_AUTHOR}:&nbsp;</td>
				<td>{blogrow.USER_FULL} [ {blogrow.DATE} ]</td>
			</tr>
			<tr>
				<td width="10%" nowrap="nowrap">{L_BLOG_SUBJECT}:&nbsp;</td>
				<td><b>{blogrow.TITLE}</b></td>
			</tr>
			<tr>
				<td colspan="2"><hr class="sep" />{blogrow.BLOG_MESSAGE}</td>
			</tr>
		</table>

		<hr width="85%" />
	<!-- END blogrow -->

	<!-- IF S_REPLIES -->
		<br/><br/>
		<div align="center">{L_REPLIES}</div>
		<hr width="85%" />
		<!-- BEGIN replyrow -->
			<table width="85%" cellspacing="3" cellpadding="0" border="0" align="center">
				<tr>
					<td width="10%" nowrap="nowrap">{L_AUTHOR}:&nbsp;</td>
					<td>{replyrow.USER_FULL} [ {replyrow.DATE} ]</td>
				</tr>
				<tr>
					<td colspan="2"><hr class="sep" />{replyrow.REPLY_MESSAGE}</td>
				</tr>
			</table>

			<hr width="85%" />
		<!-- END replyrow -->
	<!-- ENDIF -->

	<table width="85%" cellspacing="3" cellpadding="0" border="0" align="center">
	<tr>
		<td colspan="2" align="right"><span class="gensmall">{S_TIMEZONE}</span></td>
	</tr>
	<tr>
		<td align="center"><br/><span class="gensmall">Powered by phpBB &copy; 2002, 2006 phpBB Group<br /><a href="http://www.phpbb.com">www.phpbb.com</a></span></td>
		<td align="center"><br/><span class="gensmall">User Blog system created by EXreaction &copy; 2007 Lithium Studios<br /><a href="http://www.lithiumstudios.org">www.lithiumstudios.org</a></span></td>
	</tr>
	</table>

	</body>
	</html>

<!-- ENDIF -->