<!-- INCLUDE overall_header.html -->

<form id="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>

	<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th colspan="2"><b>{L_POST_A}</b></th>
		</tr>

		<!-- IF ERROR -->
			<tr>
				<td class="row2" colspan="2" align="center"><span class="genmed error">{ERROR}</span></td>
			</tr>
		<!-- ENDIF -->


		<tr>
			<td class="row1" width="22%"><b class="genmed">{L_SUBJECT}:</b></td>
			<td class="row2" width="78%"><input class="post" style="width:450px" type="text" name="subject" size="45" maxlength="<!-- IF S_NEW_MESSAGE -->60<!-- ELSE -->64<!-- ENDIF -->" tabindex="2" value="{SUBJECT}" /></td>
		</tr>
		<tr>
			<td class="row1" valign="top"><b class="genmed">{L_MESSAGE_BODY}:</b><br /><span class="gensmall">{L_MESSAGE_BODY_EXPLAIN}&nbsp;</span><br /><br />
			<!-- IF S_SMILIES_ALLOWED -->
				<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
				<tr>
					<td class="gensmall" align="center"><b>{L_SMILIES}</b></td>
				</tr>
				<tr>
					<td align="center">
						<!-- BEGIN smiley -->
							<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
						<!-- END smiley -->
					</td>
				</tr>

				<!-- IF S_SHOW_SMILEY_LINK -->
					<tr>
						<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a></td>
					</tr>
				<!-- ENDIF -->

				</table>
			<!-- ENDIF -->
			</td>
			<td class="row2" valign="top">
				<script type="text/javascript">
				// <![CDATA[
					var form_name = 'postform';
					var text_name = 'message';
				// ]]>
				</script>

				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<!-- INCLUDE posting_buttons.html -->
				<tr>
					<td valign="top" style="width: 100%;"><textarea name="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;">{MESSAGE}</textarea></td>
					<!-- IF S_BBCODE_ALLOWED -->
					<td width="80" align="center" valign="top">
						<script type="text/javascript">
						// <![CDATA[
							colorPalette('v', 7, 6)
						// ]]>
						</script>
					</td>
					<!-- ENDIF -->
	 			</tr>
				</table>
			</td>
		</tr>

		<!-- IF S_INLINE_ATTACHMENT_OPTIONS -->
			<tr>
				<td class="row1"><b class="genmed">{L_ATTACHMENTS}:</b></td>
				<td class="row2"><select name="attachments">{S_INLINE_ATTACHMENT_OPTIONS}</select>&nbsp;<input type="button" class="btnbbcode" accesskey="a" value="{L_PLACE_INLINE}" name="attachinline" onclick="attach_form = document.forms[form_name].elements['attachments']; attach_inline(attach_form.value, attach_form.options[attach_form.selectedIndex].text);" onmouseover="helpline('a')" onmouseout="helpline('tip')" />
				</td>
			</tr>
		<!-- ENDIF -->

		<tr>
			<td class="row1" valign="top"><b class="genmed">{L_OPTIONS}:</b><br />
				<table cellspacing="2" cellpadding="0" border="0">
				<tr>
					<td class="gensmall">{BBCODE_STATUS}</td>
				</tr>
				<!-- IF S_BBCODE_ALLOWED -->
				<tr>
					<td class="gensmall">{IMG_STATUS}</td>
				</tr>
				<tr>
					<td class="gensmall">{FLASH_STATUS}</td>
				</tr>
				<tr>
					<td class="gensmall">{URL_STATUS}</td>
				</tr>
				<tr>
					<td class="gensmall">{SMILIES_STATUS}</td>
				</tr>
				<!-- ENDIF -->
				</table>
			</td>
			<td class="row2">
				<table cellpadding="1">
				<!-- IF S_BBCODE_ALLOWED -->
					<tr>
						<td><input type="checkbox" class="radio" name="disable_bbcode"{S_BBCODE_CHECKED} /></td>
						<td class="gen">{L_DISABLE_BBCODE}</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_SMILIES_ALLOWED -->
					<tr>
						<td><input type="checkbox" class="radio" name="disable_smilies"{S_SMILIES_CHECKED} /></td>
						<td class="gen">{L_DISABLE_SMILIES}</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_LINKS_ALLOWED -->
				<tr>
					<td><input type="checkbox" class="radio" name="disable_magic_url"{S_MAGIC_URL_CHECKED} /></td>
					<td class="gen">{L_DISABLE_MAGIC_URL}</td>
				</tr>
				<!-- ENDIF -->

				<!-- IF S_LOCK_POST_ALLOWED -->
					<tr>
						<td><input type="checkbox" class="radio" name="lock_post"{S_LOCK_POST_CHECKED} /></td>
						<td class="gen">{L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]</td>
					</tr>
				<!-- ENDIF -->
				</table>
			</td>
		</tr>

	<!-- IF S_EDIT_REASON -->
		<tr>
			<td class="row1" valign="top"><b class="genmed">{L_EDIT_REASON}:</b></td>
			<td class="row2"><input class="post" type="text" name="edit_reason" size="50" value="{EDIT_REASON}" /></td>
		</tr>
	<!-- ENDIF -->

		<!-- IF CAPTCHA -->
			{CAPTCHA}
		<!-- ENDIF -->

		<!-- IF S_SHOW_ATTACH_BOX or S_SHOW_POLL_BOX -->
			<tr>
				<td class="cat" colspan="2" align="center">
					<input class="btnlite" type="submit" tabindex="5" name="preview" value="{L_PREVIEW}" />
					&nbsp; <input class="btnmain" type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" />
					<!-- IF S_SAVE_ALLOWED -->&nbsp; <input class="btnlite" type="submit" accesskey="k" tabindex="7" name="save" value="{L_SAVE}" /><!-- ENDIF -->
					<!-- IF S_HAS_DRAFTS -->&nbsp; <input class="btnlite" type="submit" accesskey="d" tabindex="8" name="load" value="{L_LOAD}" /><!-- ENDIF -->
					&nbsp; <input class="btnlite" type="submit" accesskey="c" tabindex="9" name="cancel" value="{L_CANCEL}" />
				</td>
			</tr>

			<!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->

			<!-- IF S_SHOW_POLL_BOX -->
				<!-- INCLUDE posting_poll_body.html -->
			<!-- ELSEIF S_POLL_DELETE -->
				<tr>
					<td class="row1"><span class="genmed"><b>{L_POLL_DELETE}:</b></span></td>
					<td class="row2"><input type="checkbox" class="radio" name="poll_delete" /></td>
				</tr>
			<!-- ENDIF -->
		<!-- ENDIF -->

		<!-- IF S_CATEGORIES_PANEL -->
			<tr>
				<th colspan="2">{L_CATEGORY}</th>
			</tr>
			<tr>
				<td class="row1"><span class="gensmall">{L_CATEGORY_EXPLAIN}</span></td>
				<td class="row2">
					<select id="category" name="category[]" multiple="yes" size="5">
						<option value="0"<!-- IF S_CAT_0_SELECTED --> selected="selected"<!-- ENDIF -->>------</option>
						{CATEGORY_LIST}
					</select>
				</td>
			</tr>
		<!-- ENDIF -->

		<!-- IF S_PERMISSIONS_PANEL -->
			<tr>
				<th colspan="2">{L_PERMISSIONS}</th>
			</tr>
			<!-- BEGIN permissions -->
			<tr>
				<td class="row1"><b class="genmed">{permissions.TITLE}:</b></td>
				<td class="row2">
					<input type="radio" name="{permissions.NAME}" id="{permissions.NAME}0" value="0"<!-- IF permissions.DEFAULT == 0 --> checked="checked"<!-- ENDIF --> /> {L_NO_PERMISSIONS_SINGLE}<br />
					<input type="radio" name="{permissions.NAME}" id="{permissions.NAME}1" value="1"<!-- IF permissions.DEFAULT == 1 --> checked="checked"<!-- ENDIF --> /> {L_VIEW_PERMISSIONS_SINGLE}<br />
					<input type="radio" name="{permissions.NAME}" id="{permissions.NAME}2" value="2"<!-- IF permissions.DEFAULT == 2 --> checked="checked"<!-- ENDIF --> /> {L_REPLY_PERMISSIONS_SINGLE}<br />
				</td>
			</tr>
		<!-- END permissions -->
		<!-- IF S_SUBSCRIPTIONS_PANEL -->
			<tr>
				<th colspan="2">{L_SUBSCRIPTION}</th>
			</tr>
			<tr>
				<td class="row1"><span class="gensmall">{L_SUBSCRIPTION_EXPLAIN}<!-- IF S_REPLY --><br />{L_SUBSCRIPTION_EXPLAIN_REPLY}<!-- ENDIF --></span></td>
				<td class="row2">
					<!-- BEGIN subscriptions -->
						<input type="checkbox" name="{subscriptions.TYPE}" id="{subscriptions.TYPE}" <!-- IF subscriptions.S_CHECKED -->checked="checked"<!-- ENDIF --> /> {subscriptions.NAME}<br /><br />
					<!-- END subscriptions -->
				</td>
			</tr>
		<!-- ENDIF -->
<!-- ENDIF -->

		{EXTRA_PANELS}

		<tr>
			<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}
				<input class="btnlite" type="submit" tabindex="10" name="preview" value="{L_PREVIEW}" />
				&nbsp; <input class="btnmain" type="submit" accesskey="s" tabindex="11" name="post" value="{L_SUBMIT}" />
				<!-- IF not S_SHOW_ATTACH_BOX and not S_SHOW_POLL_BOX -->
					<!-- IF S_SAVE_ALLOWED -->&nbsp; <input class="btnlite" type="submit" accesskey="k" tabindex="12" name="save" value="{L_SAVE}" /><!-- ENDIF -->
					<!-- IF S_HAS_DRAFTS -->&nbsp; <input class="btnlite" type="submit" accesskey="d" tabindex="13" name="load" value="{L_LOAD}" /><!-- ENDIF -->
				<!-- ENDIF -->
				&nbsp; <input class="btnlite" type="submit" accesskey="c" tabindex="14" name="cancel" value="{L_CANCEL}" />
			</td>
		</tr>
	</table>

	<br clear="all" />

	</table>

	<!-- INCLUDE breadcrumbs.html -->

	{S_FORM_TOKEN}
</form>

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><span class="gensmall">{LOGGED_IN_USER_LIST}</span></td>
	</tr>
	</table>
<!-- ENDIF -->

<br clear="all" />

<!-- INCLUDE overall_footer.html -->