<!-- INCLUDE overall_header.html -->

<!-- INCLUDE blog/blog.js -->

<!-- IF U_BLOG_MCP -->
	<p>[&nbsp;<a href="{U_BLOG_MCP}">{L_BLOG_MCP}</a>&nbsp;]</p><br />
<!-- ELSE -->
<br />
<!-- ENDIF -->

<table style="width: 100%">
	<tr>
		<td id="left_menu" style="vertical-align: top; width: 240px;">
			<!-- INCLUDE blog/left_menu.html -->
		</td>
		<td style="vertical-align: top; padding-left: 10px;">
			<!-- INCLUDE blog/category_list.html -->

			<!-- IF TOTAL_POSTS -->
			<table width="100%" cellspacing="1">
				<tr>
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
					<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_POSTS} ]&nbsp;</td>
					<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- IF PAGINATION --><b><!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a>&nbsp;&nbsp;<!-- ENDIF -->{PAGINATION}<!-- IF NEXT_PAGE --> &nbsp;<a href="{NEXT_PAGE}">{L_NEXT}</a><!-- ENDIF --></b><!-- ENDIF --></td>
				</tr>
			</table>
			<!-- ENDIF -->

			<!-- IF S_RANDOM_BLOG -->
				<table class="tablebg" width="100%" cellspacing="1">
					<tr>
						<th>{L_RANDOM_BLOG}</th>
					</tr>
					<!-- BEGIN random -->
						<!-- IF random.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
							<td width="100%" height="25">
								<strong><!-- IF random.S_HAS_POLL --><img src="{T_THEME_PATH}/images/blog/icon_poll.gif" style="float: right;" alt="" /> <!-- ENDIF --><a href="{random.U_VIEW}">{random.TITLE}</a></strong> {L_POST_BY_AUTHOR} <strong>{random.USER_FULL}</strong>  {L_POSTED_ON_DATE} {random.DATE}
							</td>
						</tr>
						<!-- IF random.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
							<td valign="top">
								<table width="100%" cellspacing="5">
									<tr>
										<td>
											<!-- IF random.S_UNAPPROVED or random.S_REPORTED -->
												<table width="100%" cellspacing="0">
													<tr>
														<td class="gensmall"><!-- IF random.S_UNAPPROVED --><span class="postapprove">{UNAPPROVED_IMG} <a href="{random.U_APPROVE}">{L_POST_UNAPPROVED}</a></span> <!-- ENDIF --> <!-- IF random.S_REPORTED --><span class="postreported">{REPORTED_IMG} <a href="{random.U_REPORT}">{L_POST_REPORTED}</a></span><!-- ENDIF --></td>
													</tr>
												</table>

												<br clear="all" />
											<!-- ENDIF -->

											<!-- IF not random.S_SHORTENED and random.RATING_STRING --><div style="float: right;">{random.RATING_STRING}</div><!-- ENDIF -->

											<div class="postbody">{random.MESSAGE}</div>

											<!-- IF random.S_HAS_ATTACHMENTS -->
												<br clear="all" />
												<p class="row3"><b class="genmed">{L_ATTACHMENTS}</b></p>
											<!-- ENDIF -->

											{random.EXTRA}

											<!-- IF not random.S_HAS_ATTACHMENTS --><br clear="all" /><!-- ENDIF -->
										</td>
									</tr>
								</table>
							</td>
						</tr>
					<!-- BEGINELSE -->
						<tr class="row1" align="center">
							<td>{L_NO_BLOGS}</td>
						</tr>
					<!-- END random -->
				</table>
			<!-- ENDIF -->

			<table style="width: 100%">
				<tr>
					<!-- BEGIN column -->
						<td style="width: {column.SECTION_WIDTH}%; vertical-align: top;">
							<table class="tablebg" width="100%" cellspacing="1">
								<tr>
									<th>
										<!-- IF column.U_FEED --><span style="float: right;"><a href="{column.U_FEED}"><img src="{T_THEME_PATH}/images/blog/feed.gif" alt="{L_FEED}" /></a></span> <!-- ENDIF -->
										<a href="{column.U_VIEW}">{column.TITLE}</a>
									</th>
								</tr>
								<!-- IF S_SORT -->
									<tr>
										<td class="cat" align="center">
											<form name="sort_replies" method="post" action="{S_POST_ACTION}"><span class="gensmall">{L_DISPLAY_POSTS}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" value="{L_GO}" name="sort" /></form>
										</td>
									</tr>
								<!-- ENDIF -->
								<!-- BEGIN row -->
									<!-- IF row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
										<td width="100%" height="25">
											<strong><!-- IF row.S_HAS_POLL --><img src="{T_THEME_PATH}/images/blog/icon_poll.gif" style="float: right;" alt="" /> <!-- ENDIF --><a href="{row.U_VIEW}">{row.TITLE}</a></strong> {L_POST_BY_AUTHOR} <strong>{row.USER_FULL}</strong>  {L_POSTED_ON_DATE} {row.DATE}
										</td>
									</tr>
									<!-- IF row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
										<td valign="top">
											<table width="100%" cellspacing="5">
												<tr>
													<td>
														<!-- IF row.S_UNAPPROVED or row.S_REPORTED -->
															<table width="100%" cellspacing="0">
																<tr>
																	<td class="gensmall"><!-- IF row.S_UNAPPROVED --><span class="postapprove">{UNAPPROVED_IMG} <a href="{row.U_APPROVE}">{L_POST_UNAPPROVED}</a></span> <!-- ENDIF --> <!-- IF row.S_REPORTED --><span class="postreported">{REPORTED_IMG} <a href="{row.U_REPORT}">{L_POST_REPORTED}</a></span><!-- ENDIF --></td>
																</tr>
															</table>

															<br clear="all" />
														<!-- ENDIF -->

														<!-- IF not row.S_SHORTENED and row.RATING_STRING --><div style="float: right;">{row.RATING_STRING}</div><!-- ENDIF -->

														<div class="postbody">{row.MESSAGE}</div>

														<!-- IF row.S_HAS_ATTACHMENTS -->
															<br clear="all" />
															<p class="row3"><b class="genmed">{L_ATTACHMENTS}</b></p>
														<!-- ENDIF -->

														{row.EXTRA}

														<br clear="all" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
								<!-- BEGINELSE -->
									<tr class="row1" align="center">
										<td>{L_NO_BLOGS}</td>
									</tr>
								<!-- END row -->
							</table>
						</td>
					<!-- END column -->
				</tr>
			</table>

			<!-- IF TOTAL_POSTS -->
			<table width="100%" cellspacing="1">
				<tr>
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
					<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_POSTS} ]&nbsp;</td>
					<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- IF PAGINATION --><b><!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a>&nbsp;&nbsp;<!-- ENDIF -->{PAGINATION}<!-- IF NEXT_PAGE --> &nbsp;<a href="{NEXT_PAGE}">{L_NEXT}</a><!-- ENDIF --></b><!-- ENDIF --></td>
				</tr>
			</table>
			<!-- ENDIF -->

			<!-- INCLUDE breadcrumbs.html -->

			<!-- IF S_DISPLAY_ONLINE_LIST -->
				<br clear="all" />

				<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
				</tr>
				<tr>
					<td class="row1"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
				</tr>
				</table>
			<!-- ENDIF -->

			<br clear="all" />

		</td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->