<!-- INCLUDE overall_header.html -->

<!-- I think this will be changed to something more like adm/style/acp_board.html so it is more flexible -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h2>{MESSAGE_TITLE}</h2>
	<p>{MESSAGE_TEXT}</p>
	
	<fieldset class="submit-buttons">
		<input type="submit" name="post" value="{L_PRIVATE_MESSAGE}" class="button2" />&nbsp; &nbsp; 
		<!-- IF S_EMAIL_ENABLED -->
			<input type="submit" name="post" value="{L_EMAIL}" class="button2" />&nbsp; &nbsp; 
			<input type="submit" name="post" value="{L_PM_AND_EMAIL}" class="button2" />&nbsp; &nbsp; 
		<!-- ENDIF -->
		<input type="submit" name="post" value="{L_CANCEL}" class="button2" />
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
	{S_HIDDEN_FIELDS}

	{S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->
