<div id="quick_reply">
	<form action="{U_QUICK_REPLY}" method="post" id="postform">
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>

			<h3>{L_POST_A_NEW_REPLY}</h3>

			<fieldset class="submit-buttons">
				<textarea name="message" id="message" rows="6" cols="100" class="inputbox" ></textarea><br /><br />
				<input type="hidden" name="subject" value="Re: <!-- BEGIN blogrow(0,0) -->{blogrow.TITLE}<!-- END blogrow -->" />
				<input type="submit" name="preview" tabindex="6" value="{L_PREVIEW}" class="button1" onclick="document.getElementById('postform').action += '#preview';" />&nbsp;
				<input type="submit" name="post" tabindex="5" value="{L_SUBMIT}" class="button1" accesskey="s" />
				{S_FORM_TOKEN}
			</fieldset>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	</form>
</div>