<!-- IF not S_PRINT_MODE -->

	<!-- INCLUDE overall_header.html -->

	<!-- INCLUDE blog/blog.js -->

	<!-- IF U_BLOG_MCP -->
		<p>[&nbsp;<a href="{U_BLOG_MCP}">{L_BLOG_MCP}</a>&nbsp;]</p>
	<!-- ELSE -->
		<br />
	<!-- ENDIF -->

	<!-- IF  not S_CATEGORY_MODE and (BLOG_TITLE or BLOG_DESCRIPTION)-->
		<div class="rules">
			<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{BLOG_TITLE}</strong><br />
			{BLOG_DESCRIPTION}
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="pagination">
			{TOTAL_POSTS} <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; {PAGE_NUMBER} &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	<!-- ENDIF -->

	<!-- IF not S_CATEGORY_MODE -->
	<table style="width: 100%">
		<tr>
			<td id="left_menu">
				<!-- INCLUDE blog/left_menu.html -->
			</td>
			<td style="vertical-align: top; padding-left: 10px;">
	<!-- ENDIF -->

	<!-- IF U_ADD_BLOG or U_REPLY_BLOG -->
	<div class="topic-actions">
		<div class="buttons">
			<!-- IF U_ADD_BLOG --><div class="blog-icon"><a href="{U_ADD_BLOG}"><span></span>{L_POST_A_NEW_BLOG}</a></div><!-- ENDIF -->
			<!-- IF U_REPLY_BLOG --><div class="reply-icon"><a href="{U_REPLY_BLOG}"><span></span>{L_POST_REPLY}</a></div><!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF U_BLOG_FEED -->
		<span style="float: right;">
			<a href="{U_BLOG_FEED}"><img src="{T_THEME_PATH}/images/blog/feed.gif" alt="{L_FEED}" /></a>
		</span>
	<!-- ENDIF -->

	<!-- IF S_SORT -->
		<form id="view_blog" method="post" action="{S_POST_ACTION}">
		<fieldset class="display-options" style="margin-top: 0;">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
			<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
			<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
		</fieldset>
		</form>
	<!-- ENDIF -->

	<!-- BEGIN blogrow -->
		<!-- IF blogrow.S_HAS_POLL and S_SINGLE -->
			<form method="post" action="{S_POLL_ACTION}">

			<div class="panel">
				<div class="inner"><span class="corners-top"><span></span></span>

				<div class="content">
					<h2>{blogrow.POLL_QUESTION}</h2>
					<p class="author">{blogrow.L_POLL_LENGTH}<!-- IF blogrow.S_CAN_VOTE and blogrow.L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF blogrow.S_CAN_VOTE -->{blogrow.L_MAX_VOTES}<!-- ENDIF --></p>

					<fieldset class="polls">
					<!-- BEGIN poll_option -->
						<dl class="<!-- IF blogrow.poll_option.POLL_OPTION_VOTED -->voted<!-- ENDIF -->"<!-- IF blogrow.poll_option.POLL_OPTION_VOTED --> title="{L_POLL_VOTED_OPTION}"<!-- ENDIF -->>
							<dt><!-- IF blogrow.S_CAN_VOTE --><label for="vote_{blogrow.poll_option.POLL_OPTION_ID}">{blogrow.poll_option.POLL_OPTION_CAPTION}</label><!-- ELSE -->{blogrow.poll_option.POLL_OPTION_CAPTION}<!-- ENDIF --></dt>
							<!-- IF blogrow.S_CAN_VOTE --><dd style="width: auto;"><!-- IF blogrow.S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{blogrow.poll_option.POLL_OPTION_ID}" value="{blogrow.poll_option.POLL_OPTION_ID}"<!-- IF blogrow.poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{blogrow.poll_option.POLL_OPTION_ID}" value="{blogrow.poll_option.POLL_OPTION_ID}"<!-- IF blogrow.poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF --></dd><!-- ENDIF -->
							<!-- IF blogrow.S_DISPLAY_RESULTS --><dd class="resultbar"><div class="<!-- IF blogrow.poll_option.POLL_OPTION_PCT < 20 -->pollbar1<!-- ELSEIF blogrow.poll_option.POLL_OPTION_PCT < 40 -->pollbar2<!-- ELSEIF blogrow.poll_option.POLL_OPTION_PCT < 60 -->pollbar3<!-- ELSEIF blogrow.poll_option.POLL_OPTION_PCT < 80 -->pollbar4<!-- ELSE -->pollbar5<!-- ENDIF -->" style="width:{blogrow.poll_option.POLL_OPTION_PERCENT};">{blogrow.poll_option.POLL_OPTION_RESULT}</div></dd>
							<dd><!-- IF blogrow.poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{blogrow.poll_option.POLL_OPTION_PERCENT}<!-- ENDIF --></dd><!-- ENDIF -->
						</dl>
					<!-- END poll_option -->

					<!-- IF blogrow.S_DISPLAY_RESULTS -->
						<dl>
							<dt>&nbsp;</dt>
							<dd class="resultbar">{L_TOTAL_VOTES} : {blogrow.TOTAL_VOTES}</dd>
						</dl>
					<!-- ENDIF -->

					<!-- IF blogrow.S_CAN_VOTE -->
						<dl style="border-top: none;">
							<dt>&nbsp;</dt>
							<dd class="resultbar"><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button1" /></dd>
						</dl>
					<!-- ENDIF -->

					<!-- IF not blogrow.S_DISPLAY_RESULTS -->
						<dl style="border-top: none;">
							<dt>&nbsp;</dt>
							<dd class="resultbar"><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></dd>
						</dl>
					<!-- ENDIF -->
					</fieldset>
				</div>

				<span class="corners-bottom"><span></span></span></div>
				{S_FORM_TOKEN}
				{S_HIDDEN_FIELDS}
			</div>


			</form>
			<hr />
		<!-- ENDIF -->

		<div id="b{blogrow.ID}" class="post <!-- IF blogrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF blogrow.S_REPORTED or blogrow.S_UNAPPROVED --> reported<!-- ENDIF --><!-- IF blogrow.S_DELETED --> deleted<!-- ENDIF --><!-- IF blogrow.S_ONLINE and S_CATEGORY_MODE --> online<!-- ENDIF -->">
			<div class="inner"><span class="corners-top"><span></span></span>
				<div class="postbody" <!-- IF not S_CATEGORY_MODE -->style="width: 100%;"<!-- ENDIF -->>
					<!-- IF not blogrow.S_SHORTENED and (blogrow.U_EDIT or blogrow.U_DELETE or blogrow.U_REPORT or blogrow.U_WARN or blogrow.U_QUOTE) and not S_IS_BOT -->
						<ul class="profile-icons">
							<!-- IF blogrow.U_EDIT --><li class="edit-icon"><a href="{blogrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
							<!-- IF blogrow.U_DELETE --><li class="delete-icon"><a href="{blogrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
							<!-- IF blogrow.U_REPORT and not blogrow.S_REPORTED --><li class="report-icon"><a href="{blogrow.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF -->
							<!-- IF blogrow.U_WARN --><li class="warn-icon"><a href="{blogrow.U_WARN}" title="{L_WARN_USER}"><span>{L_WARN_USER}</span></a></li><!-- ENDIF -->
							<!-- IF blogrow.U_QUOTE --><li class="quote-icon"><a href="{blogrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_REPLY_WITH_QUOTE}</span></a></li><!-- ENDIF -->
						</ul>

						<h3><!-- IF blogrow.S_HAS_POLL --><img src="{T_THEME_PATH}/images/blog/icon_poll.gif" alt="" /> <!-- ENDIF --><a href="{blogrow.U_VIEW}">{blogrow.TITLE}</a></h3>

						<!-- IF not blogrow.S_SHORTENED and blogrow.RATING_STRING --><div style="float: right;">{blogrow.RATING_STRING}</div><!-- ENDIF -->
					<!-- ELSE -->
						<!-- IF not blogrow.S_SHORTENED and blogrow.RATING_STRING --><div style="float: right;">{blogrow.RATING_STRING}</div><!-- ENDIF -->
						<h3><a href="{blogrow.U_VIEW}">{blogrow.TITLE}</a></h3>
					<!-- ENDIF -->

					<p class="author"><a href="{blogrow.U_VIEW_PERMANENT}"><img src="{T_IMAGESET_PATH}/icon_post_target.gif" alt="{L_PERMANENT_LINK}" /></a>{L_POST_BY_AUTHOR} <strong>{blogrow.USER_FULL}</strong> {L_POSTED_ON_DATE} {blogrow.DATE} </p>

					<!-- IF blogrow.S_UNAPPROVED or blogrow.S_REPORTED -->
						<p class="rules">
							<!-- IF blogrow.S_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{blogrow.U_APPROVE}"><strong>{L_UNAPPROVED}</strong></a><!-- ENDIF -->
							<!-- IF blogrow.S_REPORTED -->{REPORTED_IMG} <a href="{blogrow.U_REPORT}"><strong>{L_REPORTED}</strong></a><!-- ENDIF -->
						</p>
					<!-- ENDIF -->

					<div class="content">{blogrow.MESSAGE}</div>

					<!-- IF blogrow.S_HAS_ATTACHMENTS -->
						<dl class="attachbox">
							<dt>{L_ATTACHMENTS}</dt>
							<!-- BEGIN attachment -->
								<dd>{blogrow.attachment.DISPLAY_ATTACHMENT}</dd>
							<!-- END attachment -->
						</dl>
					<!-- ENDIF -->

					<!-- IF blogrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->

					{blogrow.EXTRA}

					<!-- IF blogrow.EDITED_MESSAGE or blogrow.EDIT_REASON -->
						<div class="notice">
							{blogrow.EDITED_MESSAGE}
							<!-- IF blogrow.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{blogrow.EDIT_REASON}</em><!-- ENDIF -->
						</div>
					<!-- ENDIF -->
					<!-- IF blogrow.DELETED_MESSAGE -->
						<div class="notice">
							{blogrow.DELETED_MESSAGE}
						</div>
					<!-- ENDIF -->

					<br />

					<!-- IF blogrow.SIGNATURE and S_SINGLE --><div class="signature">{blogrow.SIGNATURE}</div><!-- ENDIF -->

					<span class="num_replies">{blogrow.REPLIES}</span>
					{blogrow.VIEWS}
				</div>

				<!-- IF S_CATEGORY_MODE -->
					<dl class="postprofile">
						<dt>
							<!-- IF blogrow.AVATAR -->
								{blogrow.AVATAR}<br />
							<!-- ENDIF -->
							<strong>{blogrow.USER_FULL}</strong>
						</dt>

						<!-- IF blogrow.RANK_TITLE or blogrow.RANK_IMG --><dd>{blogrow.RANK_TITLE}<!-- IF blogrow.RANK_TITLE and blogrow.RANK_IMG --><br /><!-- ENDIF -->{blogrow.RANK_IMG}</dd><!-- ENDIF -->

						<dd>&nbsp;</dd>

						<!-- IF blogrow.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {blogrow.POSTER_POSTS}</dd><!-- ENDIF -->
						<!-- IF blogrow.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {blogrow.POSTER_JOINED}</dd><!-- ENDIF -->
						<!-- IF blogrow.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {blogrow.POSTER_FROM}</dd><!-- ENDIF -->

						<!-- BEGIN custom_fields -->
							<dd><strong>{blogrow.custom_fields.PROFILE_FIELD_NAME}:</strong> {blogrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
						<!-- END custom_fields -->

						<!-- IF blogrow.U_PM or blogrow.U_EMAIL or blogrow.U_WWW or blogrow.U_MSN or blogrow.U_ICQ or blogrow.U_YIM or blogrow.U_AIM -->
							<dd>
								<ul class="profile-icons">
									<!-- IF blogrow.U_PM --><li class="pm-icon"><a href="{blogrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_EMAIL --><li class="email-icon"><a href="{blogrow.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_WWW --><li class="web-icon"><a href="{blogrow.U_WWW}" title="{L_VISIT_WEBSITE}: {blogrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_MSN --><li class="msnm-icon"><a href="{blogrow.U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_ICQ --><li class="icq-icon"><a href="{blogrow.U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_YIM --><li class="yahoo-icon"><a href="{blogrow.U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_AIM --><li class="aim-icon"><a href="{blogrow.U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
									<!-- IF blogrow.U_JABBER --><li class="jabber-icon"><a href="{blogrow.U_JABBER}" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
								</ul>
							</dd>
						<!-- ENDIF -->
					</dl>
				<!-- ENDIF -->

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- BEGINELSE -->
		<div class="post bg1">
			<div class="inner"><span class="corners-top"><span></span></span>

				<div class="postbody" style="width: 100%;">
					<div class="no_blogs"><!-- IF MODE == 'deleted' -->{L_NO_DELETED_BLOGS}<!-- ELSE -->{L_NO_BLOGS_USER}<!-- ENDIF --></div>
				</div>
			<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- END blogrow -->

	<!-- IF S_REPLIES -->
		<div id="replies" class="post bg3">
			<div class="inner"><span class="corners-top"><span></span></span>
				<strong>{L_COMMENTS}</strong>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- IF S_SORT_REPLY -->
			<form id="view_blog" method="post" action="{S_POST_ACTION}">
			<fieldset class="display-options" style="margin-top: 0; ">
				<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
				<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
				<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
				<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
			</fieldset>
			</form>
		<!-- ENDIF -->
		<!-- BEGIN replyrow -->
			<!-- IF replyrow.S_DELETED or replyrow.USER_FOE-->
				<div id="d{replyrow.ID}" class="post<!-- IF replyrow.USER_FOE --> foe<!-- ENDIF --><!-- IF replyrow.S_DELETED --> deleted<!-- ENDIF -->" style="width: 97%; margin: 0 auto 10px auto;">
					<div class="inner"><span class="corners-top"><span></span></span>
						<div class="postbody" style="width: 100%; text-align: center;">
							<!-- IF replyrow.S_DELETED -->
								<a href="#none" onClick="toggleDiv('r{replyrow.ID}'); toggleDiv('d{replyrow.ID}');">{L_DELETED_REPLY_SHOW}</a>
							<!-- ELSE -->
								{replyrow.L_USER_FOE}<br /><a href="#none" onClick="toggleDiv('r{replyrow.ID}'); toggleDiv('d{replyrow.ID}');">{L_CLICK_HERE_SHOW_POST}</a>
							<!-- ENDIF -->
							<noscript><br />{L_REPLY_SHOW_NO_JS}</noscript>
							<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
						</div>
					<span class="corners-bottom"><span></span></span></div>
				</div>
			<!-- ENDIF -->
			<div id="r{replyrow.ID}" class="post <!-- IF replyrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF replyrow.S_REPORTED or replyrow.S_UNAPPROVED --> reported<!-- ENDIF --><!-- IF replyrow.USER_FOE --> foe<!-- ENDIF --><!-- IF replyrow.S_DELETED --> deleted<!-- ENDIF --><!-- IF replyrow.S_ONLINE --> online<!-- ENDIF -->" style="width: 97%; margin: 0 auto 10px auto;<!-- IF replyrow.S_DELETED or replyrow.USER_FOE --> display: none;<!-- ENDIF -->">
				<div class="inner"><span class="corners-top"><span></span></span>
					<div class="postbody">
						<!-- IF replyrow.U_QUOTE or replyrow.U_INFO or replyrow.U_DELETE or replyrow.U_EDIT -->
							<ul class="profile-icons">
								<!-- IF replyrow.U_EDIT --><li class="edit-icon"><a href="{replyrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
								<!-- IF replyrow.U_DELETE --><li class="delete-icon"><a href="{replyrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
								<!-- IF replyrow.U_REPORT and not replyrow.S_REPORTED --><li class="report-icon"><a href="{replyrow.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF -->
								<!-- IF replyrow.U_WARN --><li class="warn-icon"><a href="{replyrow.U_WARN}" title="{L_WARN_USER}"><span>{WARN_USER}</span></a></li><!-- ENDIF -->
								<!-- IF replyrow.U_QUOTE --><li class="quote-icon"><a href="{replyrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_REPLY_WITH_QUOTE}</span></a></li><!-- ENDIF -->
							</ul>
						<!-- ENDIF -->

						<h3><a href="{replyrow.U_VIEW}">{replyrow.TITLE}</a></h3>
						<p class="author"><a href="{replyrow.U_VIEW_PERMANENT}"><img src="{T_IMAGESET_PATH}/icon_post_target.gif" alt="{L_PERMANENT_LINK}" /></a>{L_POST_BY_AUTHOR} <strong>{replyrow.USER_FULL}</strong> {L_POSTED_ON_DATE} {replyrow.DATE} </p>

						<!-- IF replyrow.S_UNAPPROVED or replyrow.S_REPORTED -->
							<p class="rules">
								<!-- IF replyrow.S_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{replyrow.U_APPROVE}"><strong>{L_UNAPPROVED}</strong></a><!-- ENDIF -->
								<!-- IF replyrow.S_REPORTED -->{REPORTED_IMG} <a href="{replyrow.U_REPORT}"><strong>{L_REPORTED}</strong></a><!-- ENDIF -->
							</p>
						<!-- ENDIF -->

						<div class="content">{replyrow.MESSAGE}</div>

						<!-- IF replyrow.S_HAS_ATTACHMENTS -->
							<dl class="attachbox">
								<dt>{L_ATTACHMENTS}</dt>
								<!-- BEGIN attachment -->
									<dd>{replyrow.attachment.DISPLAY_ATTACHMENT}</dd>
								<!-- END attachment -->
							</dl>
						<!-- ENDIF -->

						<!-- IF replyrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->

						{replyrow.EXTRA}

						<!-- IF replyrow.EDITED_MESSAGE or replyrow.EDIT_REASON -->
							<div class="notice">{replyrow.EDITED_MESSAGE}
								<!-- IF replyrow.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{replyrow.EDIT_REASON}</em><!-- ENDIF -->
							</div>
						<!-- ENDIF -->
						<!-- IF replyrow.DELETED_MESSAGE -->
							<div class="notice">{replyrow.DELETED_MESSAGE}</div>
						<!-- ENDIF -->

						<!-- IF replyrow.SIGNATURE --><div class="signature">{replyrow.SIGNATURE}</div><!-- ENDIF -->
					</div>

					<dl class="postprofile">
						<dt>
							<!-- IF replyrow.AVATAR -->
								{replyrow.AVATAR}<br />
							<!-- ENDIF -->
							<strong>{replyrow.USER_FULL}</strong>
						</dt>

						<!-- IF replyrow.RANK_TITLE or replyrow.RANK_IMG --><dd>{replyrow.RANK_TITLE}<!-- IF replyrow.RANK_TITLE and replyrow.RANK_IMG --><br /><!-- ENDIF -->{replyrow.RANK_IMG}</dd><!-- ENDIF -->

						<dd>&nbsp;</dd>

						<!-- IF replyrow.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {replyrow.POSTER_POSTS}</dd><!-- ENDIF -->
						<!-- IF replyrow.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {replyrow.POSTER_JOINED}</dd><!-- ENDIF -->
						<!-- IF replyrow.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {replyrow.POSTER_FROM}</dd><!-- ENDIF -->

						<!-- BEGIN custom_fields -->
							<dd><strong>{replyrow.custom_fields.PROFILE_FIELD_NAME}:</strong> {replyrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
						<!-- END custom_fields -->

						<!-- IF replyrow.U_PM or replyrow.U_EMAIL or replyrow.U_WWW or replyrow.U_MSN or replyrow.U_ICQ or replyrow.U_YIM or replyrow.U_AIM -->
							<dd>
								<ul class="profile-icons">
									<!-- IF replyrow.U_PM --><li class="pm-icon"><a href="{replyrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
									<!-- IF replyrow.U_EMAIL --><li class="email-icon"><a href="{replyrow.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
									<!-- IF replyrow.U_WWW --><li class="web-icon"><a href="{replyrow.U_WWW}" title="{L_VISIT_WEBSITE}: {replyrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
									<!-- IF replyrow.U_MSN --><li class="msnm-icon"><a href="{replyrow.U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
									<!-- IF replyrow.U_ICQ --><li class="icq-icon"><a href="{replyrow.U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
									<!-- IF replyrow.U_YIM --><li class="yahoo-icon"><a href="{replyrow.U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
									<!-- IF replyrow.U_AIM --><li class="aim-icon"><a href="{replyrow.U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
									<!-- IF replyrow.U_JABBER --><li class="jabber-icon"><a href="{replyrow.U_JABBER}" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
								</ul>
							</dd>
						<!-- ENDIF -->
					</dl>
					<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
				<span class="corners-bottom"><span></span></span></div>
			</div>
		<!-- END replyrow -->
	<!-- ENDIF -->

	<!-- IF S_QUICK_REPLY -->
		<!-- INCLUDE blog/quick_reply.html -->
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="pagination">
			{TOTAL_POSTS} <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; {PAGE_NUMBER} &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	<!-- ENDIF -->

	<!-- IF U_ADD_BLOG or U_REPLY_BLOG -->
	<div class="topic-actions">
		<div class="buttons">
			<!-- IF U_ADD_BLOG --><div class="blog-icon"><a href="{U_ADD_BLOG}"><span></span>{L_POST_A_NEW_BLOG}</a></div><!-- ENDIF -->
			<!-- IF U_REPLY_BLOG --><div class="reply-icon"><a href="{U_REPLY_BLOG}"><span></span>{L_POST_REPLY}</a></div><!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF not S_CATEGORY_MODE -->
			</td>
		</tr>
	</table>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_ONLINE_LIST -->
		<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
		<p>{LOGGED_IN_USER_LIST}</p>
	<!-- ENDIF -->

	<!-- INCLUDE overall_footer.html -->

<!-- ELSE --> <!-- Print Mode -->

	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
	<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="Content-Language" content="{S_USER_LANG}">
	<title>{SITENAME} :: {PAGE_TITLE}</title>

	<style type="text/css">
	<!--

	body {
		font-family: Verdana,serif;
		font-size: 10pt;
	}

	img {
		border: 0;
	}

	td {
		font-family: Verdana,serif;
		font-size: 10pt;
		line-height: 150%;
	}

	.code,
	.quote {
		font-size: smaller;
		border: black solid 1px;
	}

	.forum {
		font-family: Arial,Helvetica,sans-serif;
		font-weight: bold;
		font-size: 18pt;
	}

	.topic {
		font-family: Arial,Helvetica,sans-serif;
		font-size: 14pt;
		font-weight: bold;
	}

	.gensmall {
		font-size: 8pt;
	}

	hr {
		color: #888;
		height: 3px;
		border-style: solid;
	}

	hr.sep {
		color: #aaa;
		height: 1px;
		border-style: dashed;
	}
	//-->
	</style>

	</head>
	<body>

	<table width="85%" cellspacing="3" cellpadding="0" border="0" align="center">
	<tr>
		<td colspan="2" align="center"><span class="Forum">{SITENAME}</span></td>
	</tr>
	<tr>
		<td colspan="2"><br /></td>
	</tr>
	<tr>
		<td><span class="topic">{TITLE}</span><br /><span class="gensmall"><a href="{U_BLOG_SELF}">{U_BLOG_SELF}</a></span></td>
	</tr>
	</table>

	<hr width="85%" />

	<!-- BEGIN blogrow -->
		<table width="85%" cellspacing="3" cellpadding="0" border="0" align="center">
			<tr>
				<td width="10%" nowrap="nowrap">{L_AUTHOR}:&nbsp;</td>
				<td>{blogrow.USER_FULL} [ {blogrow.DATE} ]</td>
			</tr>
			<tr>
				<td width="10%" nowrap="nowrap">{L_BLOG_SUBJECT}:&nbsp;</td>
				<td><b>{blogrow.TITLE}</b></td>
			</tr>
			<tr>
				<td colspan="2"><hr class="sep" />{blogrow.MESSAGE}
				<br />{blogrow.EXTRA}</td>
			</tr>
		</table>

		<hr width="85%" />
	<!-- END blogrow -->

	<!-- IF S_REPLIES -->
		<br /><br />
		<div align="center">{L_BLOG_REPLIES}</div>
		<hr width="85%" />
		<!-- BEGIN replyrow -->
			<table width="85%" cellspacing="3" cellpadding="0" border="0" align="center">
				<tr>
					<td width="10%" nowrap="nowrap">{L_AUTHOR}:&nbsp;</td>
					<td>{replyrow.USER_FULL} [ {replyrow.DATE} ]</td>
				</tr>
				<tr>
					<td colspan="2"><hr class="sep" />{replyrow.MESSAGE}
					<br />{replyrow.EXTRA}</td>
				</tr>
			</table>

			<hr width="85%" />
		<!-- END replyrow -->
	<!-- ENDIF -->

	<table width="85%" cellspacing="3" cellpadding="0" border="0" align="center">
	<tr>
		<td colspan="2" align="right"><span class="gensmall">{S_TIMEZONE}</span></td>
	</tr>
	<tr>
		<td align="center"><br /><span class="gensmall">Powered by phpBB &copy; 2002, 2006 phpBB Group<br /><a href="http://www.phpbb.com">www.phpbb.com</a></span></td>
		<td align="center"><br /><span class="gensmall">Blogs powered by User Blog Mod &copy; EXreaction<br /><a href="http://www.lithiumstudios.org">www.lithiumstudios.org</a></span></td>
	</tr>
	</table>

	</body>
	</html>

<!-- ENDIF -->